<div class="container ">
  <div class="form-main-cover new_login">
    <div  class="col-sm-3"></div>
    <div  class="col-sm-6">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
          <form [formGroup]="loginForm">
          <div  class="form-group">
            <mat-input-container [ngClass]="{'error': loginForm.controls['email'].errors && !loginForm.controls['email'].pristine}" dividerColor="{{loginForm.controls['email'].errors && !loginForm.controls['email'].pristine ? 'warn' : 'primary'}}">
              <input type="email" matInput formControlName="email" [(ngModel)]="email" placeholder="Email" required>
              <div *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine" class="error-msg">
                <div [hidden]="!loginForm.controls['email'].errors.required">Email is required.</div>
                <div [hidden]="!loginForm.controls['email'].errors.patternInvalid">Email is invalid.</div>
                <div [hidden]="!loginForm.controls['email'].errors.invalid">Email is invalid.</div>
              </div>
            </mat-input-container>
          </div>
          <div  class="form-group">
            <mat-input-container [ngClass]="{'error': loginForm.controls['password'].errors && !loginForm.controls['password'].pristine}"
              dividerColor="{{loginForm.controls['password'].errors && !loginForm.controls['password'].pristine ? 'warn' : 'primary'}}">
              <input type="password" matInput formControlName="password" [(ngModel)]="password" placeholder="Password" required>
              <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine" class="error-msg">
                <div [hidden]="!loginForm.controls['password'].errors.required">Password is required.</div>
              </div>
            </mat-input-container>
          </div>
          </form>
        </mat-card-content>
        <div  class="form-group">
          <mat-card-actions align="end">
            <button  class="btn btn-primary btn-lg" [disabled]="loginForm.invalid" (click)="login()">Login</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  <div  class="col-sm-3"></div>
</div>
