/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";  
.navbar {
    margin-bottom: 20px;
    margin-top: 30px;
    background: url(assets/images/navbar.png) repeat-x #0383c0;
    border: 1px solid #ccc
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default a:hover {
    background: 0 0;
    color: #FF9721!important;
    font-weight: 700
  }
  .logo {
    width: 100%;
    margin: 40px 0 0;
    font-family: Oswald, sans-serif
  }
  .primary {
    color: #FF9721
  }
  .subtext {
    color: #666;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0 0 45px
  }
  header form {
    float: right;
    margin-top: 30px;
    background: #FF9721;
    padding: 15px;
    color: #fff;
    border-radius: 5px
  }
  #products img {
    width: 130px;
    height: 130px
  }
  .jumbotron {
    overflow: auto;
    padding: 0!important
  }
  .jumbotron p {
    font-size: 15px
  }
  .tablist {
    float: left;
    padding: 0;
    margin: 0;
    width: 30%
  }
  .tablist li {
    background: #ccc;
    list-style: none;
    color: #666;
    padding: 15px 10px 15px 20px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 15px
  }
  .tablist li.active {
    background: #FF9721;
    color: #fff
  }
  .tablist li.active a {
    color: #fff
  }
  .tablist a {
    color: #666;
    display: block;
    text-decoration: none
  }
  .tab-content {
    float: right;
    width: 70%;
    background: #FF9721;
    color: #fff;
    overflow: hidden;
    height: 275px;
    padding-top: 20px
  }
  .slide-img {
    float: right;
    width: 50%
  }
  .tab-text {
    float: left;
    width: 40%;
    margin-left: 40px
  }
  .main-img {
    width: 100%
  }
  footer {
    text-align: center;
    height: 60px;
    background: #f4f4f4;
    padding-top: 20px;
    margin-top: 50px
  }
 .form-wrapper {
	border-radius: 4px;
	padding-bottom: 20px;
}
 .form-wrapper h1 {
	padding-bottom: 20px;
}
.search_results_wrapper {
	padding: 25px 15px 10px;
	text-align: center;
	border-radius: 4px;
}
.form-main-cover {
	background: #f9f9f9;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.result_cover_list {
  text-align: left;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding: 15px;
  border-radius: 4px;
  padding-bottom: 15px;
}
.form-main-cover select {
  -moz-appearance: none;
  background: rgb(255, 255, 255);
  border: 1px solid #ddd;
  height: 34px;
  padding-bottom: 2px;
  padding-left: 9px;
  padding-right: 2px;
  padding-top: 2px;
  width: 100%;
  outline: none;
  -webkit-border-radius: 2px;
  -webkit-user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


@media (max-width:960px) {
  header form {
    width: 100%!important
  }
}
@media (max-width:768px) {
  .slide-img {
    display: none
  }
  .tab-text {
    float: none;
    width: 80%
  }
  .navbar a {
    color: #fff!important
  }
  .navbar a:hover {
    color: #ccc!important
  }
  /*.navbar form {
    display: none
  }*/
  .form-control {
      margin-bottom: 5px;
  }
  .form-group {
      margin-left: 5px;
      margin-right: 5px;
  }
}
@media (max-width:600px) {
  .tab-content {
    height: 350px
  }
}

.error {
  color: red;
}
.error-msg {
  display: block;
  position: absolute;
  font-size: 75%;
  bottom: -2em;
}
.mat-input-container {
  margin-bottom: .5em;
}
.mat-form-field{
  width: 100%;
}
.form-main-cover .mat-card-actions {
  margin: 0;
  padding: 0px;
}
.new_login{
  padding-top:20px;
  padding-bottom:20px;
}